name: Laravel CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, bcmath, pdo_mysql

      - name: Install Composer
        run: composer install --no-dev --optimize-autoloader

      - name: Run Migrations
        run: php artisan migrate --force
